article {
  background-color: white;
  margin: 1em 10em;
  padding: 1em 0;
}

body {
  background-color: deepskyblue;
}

h3 {
  margin: 1em 3.5em;
}

p {
  background-color: white;
  color: black;
  grid-template-rows: 1fr;
  line-height: 1em;
  margin: 0 4em;
  padding: 0 0 1em 0;
}
